.titulo{
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

.button{
    background-color: #e7e7e7; 
    color: black;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: cornflowerblue;
    color: white;
  }

  .buttonDanger{
    background-color: #e7e7e7; 
    color: black;
    transition-duration: 0.4s;
  }
  .buttonDanger:hover{
    background-color: red;
    color: white;
  }

  #btnModificar{
    display: inherit;
  }

  #labelArquivoCarregado{
    padding-right: 5px;
  }